# Build outputs
dist/
build/
*.spec

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.pyo

# PyArmor
.pyarmor/
pyarmor_runtime_*/

# Environment
.env
*.egg-info/
venv/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS files
Thumbs.db
.DS_Store
desktop.ini
